.mt-15 {
    margin-top: 150px;
}

.ourProcess {
    background-color: transparent;
    padding: 128px 0;
    background-image: url(../../../Assets/images/service-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
    margin-top: 100px;
}

.ourProcess::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.ourProcess-heading h1 {
    color: var(--white-color);
    font-size: 60px !important;
}

.ourProcess-heading p {
    color: #cad9e8;
}

.ourProcess-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.ourProcess-card {
    color: var(--white-color);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.ourProcess-card:hover {
    background-color: var(--secondary-color);
    color: var(--black-color);
}

.ourProcess-card:hover h5 {
    color: var(--primary-color);
    transition: 0.5s ease-in-out;
}

.ourProcess-card h5 {
    display: inline;
    font-size: 190px;
    color: var(--secondary-color);
}

.ourProcess-card h3 {
    color: #cad9e8;
}