.header-wrapper {
    background-color: rgb(95, 96, 100, 0.5);
    backdrop-filter: blur(10px);
    top: 30px;
    z-index: 100000000000000000000;
    position: fixed !important;
    border-radius: 10px;
}

.navigationTabs a {
    color: var(--secondery-color);
}

.navigationTabs a:hover {
    color: #f7d600;
    text-shadow: 0px 2px 5px #FFF6BB;
}

.navbar {
    padding: 0 !important;
}

.navbar-toggler-icons {
    color: #FFF6BB !important;
}

.navbar-toggler {
    border: none;
    font-size: 35px;
}

.offcanvas {
    color: #FFF6BB;
    background-color: #5F6064;
}

.btn-close {
    color: #FFF6BB !important;
}

.bTn {
    background-color: #5F6064;
    border: none;
    color: #FFF6BB;
    border-radius: 10px;
}