.projectCardDetailes {

    background-image: url("../../../Assets/images/projectBanner.webp");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.projectCardDetailes::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.detailes-data {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 10px;
}

.detailes-title {
    margin-top: 150px;
    margin-bottom: 50px;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.detailsContent {
    color: var(--secondary-color);
    padding: 20px;
}

.inerTitle {
    display: inline-block;
    font-size: 30px;
    margin-bottom: 10px;
}

.inerDesc {
    color: #d1d1d1;
}

.dteiles-banner img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}