.service-bg {
    height: 100vh;
    width: 100%;
    background-image: url("../../Assets/images/service-bg.png");
    background-attachment: fixed;
    background-size: cover;
    /* position: fixed; */
    z-index: -1;
}

.service-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}