.project-details {
    color: white;
    padding: 30px;
}

.project-details_title h1 {
    color: var(--secondary-color);
}

.project-details {
    background-image: url("../../../Assets/images/projectBanner.webp");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.project-details::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.batch-title {
    color: var(--secondary-color);
}