.discover-content {
    color: var(--white-color);
    position: relative;
    margin: 100px 0;
}

.discover {
    background-color: transparent;
}

.discover-content {
    padding: 100px;
    border-radius: 15px;
    background-image: url(../../../assets/images/discoverBG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}


.discover-content::before {
    content: "";
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.discover-wrapper {
    z-index: 10000000000;
}