:root {
    --secondary-color: #FFF6BB;
    --primary-color: #5F6064;
    --white-color: #FFFFFF;
    --black-color: #000000;
}

/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3,h4,h5 {
  font-family: 'Oswald', sans-serif;
}

.bTn{
  border: 2px solid #FFF6BB  !important;
  background-color: transparent  !important;
  color: #FFF6BB  !important;
}

.bTn:hover{
  background-color: #FFF6BB  !important;
  color: #5F6064  !important;
  border: #5F6064 solid 2px  !important;
}